html, body {
	width: 100%;
	/* font here */
}
body {
	margin-bottom: -1%;
}

/* colors!
pink: #ff2468
darker tan: #e0d4b1
lighter tan: #ffffe3
lighter blue: #00a5a6
darker blue: #005b63
 */

#nav {
	margin-left: -1%;
	background-color: #00a5a6;
	margin-top: -1%;
	opacity: 0.9;
}
#nav ul {
	list-style-type: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 1%;
}
#nav ul li {
	float: left;
	/*margin-left: 8%*/
	margin-left: 7%;
}
#nav a:link, a:visited {
	display: block;
	width: 150px;
	padding: 6%;
	text-align: center;
	font-size: 1.2em;
	text-decoration: none;
	color: white;
}
#nav a:hover, a:active {
	background-color: white;
	color: #00a5a6;
}


#aboutme {
	position: relative;
	width: 101%;
	margin-left: -1%;
 	margin-top: -1.7%;
	background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.7)), url("../img/cornell.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: grayscale(100%);
    z-index: -1;
}
#aboutme p {
	width: 50%;
	text-align: center;
	margin-left: 25%;
	padding-top: 2%;
	position: relative;
	/*height: 80px;*/
}
#aboutme h1 {
	text-align: center;
	padding-top: 10%;
	padding-bottom: 9%;
	/*color: #ff2468;*/
}
#learnmore {
  border: 2px solid #ff2468;
  font-size: 1.3em;
  text-align: center;
  margin-left: 46%;
  /*background-color: #ff2468;*/
  color: #ff2468;
  float: left;
  margin-top: -11%;
  z-index: 200;
}
#learnmore:hover {
	/*border: 2px solid white;*/
	background-color: #ff2468;
	color: white;
	cursor: pointer;
}



#bio {
	/*background-color: #e0d4b1;*/
	width: 100%;
	padding-top: 2%;
	margin-left: -1%;
	margin-top: -1.3%;
	padding-left: 1%;
	padding-bottom: 2%;
}
#bio p {
	width: 45%;
	margin-left: 27.5%;
	padding-bottom: 2%;
}
#bio h1 {
	margin-left: 27.5%;
	color: #00a5a6;
	padding: 0;
	text-align: left;
}
#bio .long {
	width: 50%;
	border: 2px solid #ff2468;
	margin-top: 1%;
	margin-bottom: 1%;
	/*margin-left: -13%;*/
}
#bio ul {
	margin-left: 27.5%;
	margin-top: -2%;
}


#school {
	position: relative;
	width: 101%;
	margin-left: -1%;
	background: linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.7)), url("../img/gates.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: grayscale(100%);
    z-index: -1;
    padding-top: 4%;
    padding-bottom: 4%;
}
#school p {
	width: 45%;
	margin-left: 27.5%;
	padding-bottom: 2%;
}
#school h1 {
	margin-left: 27.5%;
	padding: 0;
	text-align: left;
}
#school .long {
	width: 50%;
	border: 2px solid black;
	margin-top: 1%;
	margin-bottom: 1%;
	/*margin-left: -13%;*/
}
#school .indent {
	margin-top: -2%;
	margin-left: 30%;
	margin-bottom: -1%;
}

#work {
	background-color: white;
	width: 100%;
	padding-top: 2%;
	margin-left: -1%;
	margin-top: -1.3%;
	padding-left: 1%;
	padding-bottom: 2%;
}
#work h1 {
	text-align: center;
	color: #ff2468;
	padding-bottom: 1%;
}

.img-list img {
	height: 200px;
	opacity: 0.4;
	-webkit-filter: grayscale(100%);
}
ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
 
ul.img-list li {
  display: inline-block;
  height: 200;
  margin: 0 2em 2em 0;
  position: relative;
}
span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  overflow: hidden;
  opacity: 0;
  width: 100%;
}
span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
ul.img-list li:hover span.text-content {
  opacity: 1;
}

.describe h3 {
	color: #00a5a6;
	text-align: center;
}
.describe {
	width: 50%;
	margin-left: 25%;
}

.jobheader {
	text-align: center;
}


#contact {
	background-color: #00a5a6;
	width: 100%;
	padding-top: 2%;
	margin-left: -1%;
	padding-left: 1%;
	padding-bottom: 2%;
}
